body {
    font: 75% verdana;
    /*background: #444 url('/img/page_bg.jpg') top left fixed;*/
    margin: 20px 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

#page-container {
    position: relative;
    width: 70%;
    margin: 0px;
    padding: 0px;
    margin-left: 15%;
    background-color: #fffefd;
    overflow: hidden;
}
/*     PAGE                  */
#content-container {
    width: 58%;
    height: 80%;
    margin: 0px 20% 0px 20%;
    padding: 1%;
    background-color: #f0f0f0;
}
#content-container label {
    color: gray;
}


#content-container a input {
    box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    background-color: #EEE;
    border: 1px solid #999;
    color: #666;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    height: 28px;
}

#content-container a input:hover {
    color: #fff;
    background-color: #CC0000;
    text-decoration: none;
}

/*     HEADER                  */
#page-header {
    height: 50px;
    /*background: #999999 url('/img/header.jpg') top right no-repeat;*/
}

#page-header div {
    margin-left: 200px;
    font-size: inherit;
}

#page-header h3 {
    font-size: 2.2em;
    line-height: 1.1em;
    letter-spacing: -2px;
    margin: 0 0 0.5em 0;
    margin: 0;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    background-color: transparent;
}
#page-header a{
    color: white;
}
/*     MENU                  */

#navigation {
    position: absolute;
    top: 0px;
    left: -32px;
    width: 22%;
    margin: 0px;
    padding-top: 7%;
}

#navigation body {
    background: #f4f1e5;
    color: #544738;
    font-family: helvetica, sans-serif;
}

#navigation ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
}

#navigation li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 16px;
    padding: 5px;
}

#navigation li a:hover {
    color: #fff;
    background-color: #CC0000;
    text-decoration: none;
}

/*     FOOTER                 */
#page-footer {
    padding: 5px;
    font-size: small;
    border-top: 1px solid black;
    border-color: #666666 #cccccc #cccccc #666666;
    text-align: center;
}

/*OTHER*/
.title {
   color:#CC0000;
   font-size: 16px;
}

.date {
    text-align: end;
    text-decoration:underline;
}

.paging {
    right: 35%;
    top: 80%;
    position: fixed;
}

.inputStyle {
    box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    background-color: #EEE;
    border: 1px solid #999;
    color: #666;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    height: 28px;
}

.inputStyle:hover {
    color: #fff;
    background-color: #CC0000;
    text-decoration: none;
}
