/************************* PAGINATION **************************************/
.paginationTG{
    float: left;
    font:11px Tahoma, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
    color:#3d3d3d;
    text-align: center;
    top: 80%;
    width:100%;
}

.paginationTG a, .paginationTG a:visited{
    padding: 5px 8px;
    text-decoration: none;
    background-color: inherit;
    color: #294b9a;
    font-weight: bold;
}

.paginationTG a:hover, .paginationTG a:active{
    color: #7094ff;
    text-decoration: none;
}

.paginationTG .currentpage {
    font-weight: bold;
    padding: 5px 9px;
    background-color: inherit;
    color: #7094ff;
}


.paginationTG .nextpage{
    font-weight: bold;
}
