/************************* PAGINATION **************************************/
.paginationTG{
    float: left;
    font:11px Tahoma, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
    color:#3d3d3d;
    text-align: center;
    top: 80%;
    width:100%;
}

.paginationTG a, .paginationTG a:visited{
    padding: 5px 8px;
    text-decoration: none;
    background-color: inherit;
    color: #0545d0;
    font-weight: bold;
}

.paginationTG a:hover, .paginationTG a:active{
    color: #ffffff;
    background: url(/images/pagination_bg.png) no-repeat top center;
    text-decoration: none;
}

.paginationTG currentpage {
    font-weight: bold;
    padding: 5px 9px;
    background: url(/images/pagination_bg.png) no-repeat top center;
    background-color: inherit;
    color: #ffffff;
}


.paginationTG nextpage{
    font-weight: bold;
}
