.layer {
    display:inline-block;
    /*padding: 0 140px;*/
    width: 120px;
}

.heading {
    margin: 1px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    background-color: #f57814;
    text-align: center;
}
.content {
    padding: 5px 10px;
    background-color: #f4f4f4;
}
p { padding: 5px 0; }