body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background: #0097d6 url(/images/templatemo_body.jpg) repeat-y left;
}

a, a:link, a:visited {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    color: #CC3300;
    text-decoration: none;
}

h1{
    color: #d32208;
    font-size: 12px;
    /*text-align: center;*/
}

.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #d32208;
    padding: 8px;
    margin: 16px;
}

/* класс сообщений о правильно введенных данных */
.correct {
    color: green;
    font-size: 12px;
}
/* класс сообщений об ошибках */
.acorrect {
    color: red;
    font-size: 12px;
}
.span_info {
    width: 150px;
    color: #666;
    font-size: 12px;
    vertical-align: top;
}

#page-container {
    width: 970px;
    margin: 0 auto;
}

/* header */
#page-header {
    width: 740px;
    height: 180px;
    padding: 0 100px 0 130px;
    background: url(/images/templatemo_header.png) top no-repeat ;
}

#page-header  #site_title {
    float: left;
    margin: 60px 0 0 60px;
}

#page-header  #site_title a {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#page-header  #site_title a span {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-left: 5px;
}

/* menu */

#navigation {
    clear: both;
    width: 950px;
    height: 122px;
    padding: 0 10px;
    margin-bottom: 20px;
    background: url(/images/templatemo_menu.png) no-repeat top;
}

#navigation .home a {
    float: left;
    width: 52px;
    height: 52px;
    margin: 9px 19px;
    background: url(/images/templatemo_home.png) no-repeat center;
}

#navigation .home a:hover {
    background: url(/images/templatemo_home_hover.png) no-repeat center;
}


#navigation ul {
    float: left;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#navigation ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#navigation ul li a {
    float: left;
    display: block;
    height: 45px;
    width: 140px;
    padding: 5px 0 0 0;
    font-size: 11px;
    color: #666;

    text-align: center;
    text-decoration: none;
    font-weight: normal;
    outline: none;
    border: none;
    background: url(/images/templatemo_menu_divider.gif) repeat-y right;
}

#navigation ul li a span {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

#navigation ul li .last {
    background: none;
}

#navigation ul li a:hover, #navigation ul .current {
    color: #a13c03;
}

#navigation ul li a:hover span, #navigation ul .current span {
    color: #a13c03;
}

#navigation ul li a span:hover {
    color: #a13c03;
}
/* end of menu */

/* content */

#templatemo_content_wrapper {
    width: 802px;
    padding: 0 68px 0 100px;
}

#templatemo_content_top {
    width: 802px;
    height: 0px;
    background: url(/images/templatemo_content_top.png) no-repeat;
}

#templatemo_content_bottom {
    width: 802px;
    height: 10px;
    background: url(/images/templatemo_content_bottom.png) no-repeat;
}

#content-container {
     padding: 20px 30px;
     /*background: url(/images/templatemo_content.png) repeat-y;*/
 }


#content-container p {
    margin-bottom: 10px;
}

#content-container h2 {
    margin-left: -46px;
    height: 36px;
    padding: 12px 0 0 46px;
    text-shadow: 1px 1px 1px #555;
    margin-bottom: 10px;
    font-weight: bold;
    background: url(/images/templatemo_h2.png) no-repeat;
}

/* footer */

#page-footer {
    width: 770px;
    padding: 20px 100px;
    color: #12526d;
    text-align: center;
    margin: auto;
}

#page-footer a {
    color: #000;
}

.button{
    cursor:pointer;
    padding:3px 10px;
    text-decoration:none;
    color:#fff;
    font-size:10px;
    text-shadow:0 -1px 1px rgba(0,0,0,.3);
    background-image:-webkit-linear-gradient(#52A8E8, #377AD0);
    background-image:-moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
    background-image: -o-linear-gradient(rgb(82,168,232),rgb(55,122,208));
    background-color:#52A8E8;
    -moz-border-radius:23px;
    -webkit-border-radius:23px;
    border-radius:23px;
    border:1px solid #20559A;
    box-shadow:0 1px 2px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.3);
}

.button:hover, .button:focus{
    background: #52A8E8;
    box-shadow:0 1px 0 rgba(255,255,255,.6), inset 0 1px 0 rgba(255,255,255,.3);
}

.button:active {
    background-color:#2D7CD1;
    box-shadow:0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5);
}
