body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background: #e7e7e7
}

a, a:link, a:visited {
    color: #0066CC;
    text-decoration: none;
}

a:hover {
    color: #CC3300;
    text-decoration: none;
}

h1{
    color: #ff0f09;
    font-size: 14px;
    /*text-align: center;*/
}

.errorblock {
    color: #ff5503;
    background-color: #fff5e7;
    border: 3px solid #d3530d;
    padding: 8px;
    margin: 16px;
}

.alertblock {
    color: #01330b;
    background-color: #e5ffbe;
    border: 3px solid #3f9903;
    padding: 8px;
    margin: 16px;
}

/* класс сообщений о правильно введенных данных */
.correct {
    color: green;
    font-size: 12px;
}
/* класс сообщений об ошибках */
.acorrect {
    color: #ff7003;
    font-size: 12px;
}

.span_info {
    width: 150px;
    color: #666;
    font-size: 12px;
    vertical-align: top;
}

#page-container {
    margin-left: auto;
    margin-right: auto;
}

/* header */
#page-header {
    width: 970px;
    height: 184px;
    background: url(/images/templatemo_header.png) top no-repeat ;
    margin-left: auto;
    margin-right: auto;
}

#page-header  #site_title {
    float: left;
    margin: 60px 0 0 60px;
}

#page-header  #site_title a {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#page-header  #site_title a span {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-left: 5px;
}

/* menu */

#navigation {
    clear: both;
    height: 150px;
    width: -moz-fit-content;
    margin: auto;
    background:  none
}

#navigation .home a {
    float: left;
    width: 52px;
    height: 52px;
    margin: 0 20px;
    background: url(/images/templatemo_home.png) no-repeat center;
}

#navigation .home a:hover {
    background: url(/images/templatemo_home_hover.png) no-repeat center;
}

#navigation ul {
    float: left;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#navigation ul li {
    float: left;
}

#navigation ul li a {
    float: left;
    display: block;
    height: 45px;
    width: 170px;
    padding: 5px 0 0 0;
    font-size: 11px;
    color: #666;

    text-align: center;
    text-decoration: none;
    font-weight: normal;
    outline: none;
    border: none;
}

#navigation ul li a span {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

#navigation ul li .last {
    background: none;
}

#navigation ul li a:hover, #navigation ul .current {
    color: #a13c03;
}

#navigation ul li a:hover span, #navigation ul .current span {
    color: #a13c03;
}

#navigation ul li a span:hover {
    color: #a13c03;
}
/* end of menu */

/* content */

#templatemo_content_wrapper {
    padding: 0 20% 0 20%;
}

#templatemo_content_top {
    /*width: 1200px;*/
    height: 0;
}

#templatemo_content_bottom {

}

#content-container {
    padding-bottom: 100px;
}
#content-container form {
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
}

#content-container p {
    margin-bottom: 10px;
}

#content-container h2 {
    margin-left: -46px;
    height: 36px;
    padding: 12px 0 0 46px;
    text-shadow: 1px 1px 1px #555;
    margin-bottom: 10px;
    font-weight: bold;
    background: url(/images/templatemo_h2.png) no-repeat;
}

/* footer */
#page-footer {
    padding: 20px  100px 20px 130px;
    color: #000000;
    text-align: center;
    margin: auto;
}

#page-footer a {
    color: #223d7a;
}

.button{
    cursor:pointer;
    padding:3px 10px;
    text-decoration:none;
    color:#fff;
    font-size:10px;
    background-color: #f57814;
    border-radius:23px;
    border:1px solid #9a3117;
    box-shadow:0 1px 2px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.3);
}

.button:hover, .button:focus{
    background: #e8b658;
    box-shadow:0 1px 0 rgba(255,255,255,.6), inset 0 1px 0 rgba(255,255,255,.3);
}

.button:active {
    background-color: #d18531;
    box-shadow:0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5);
}

.white-option {
    background-color: #f5f6ea;
    padding: 0;
    margin: auto;
    display:block;
    width: 100px;
    text-align: center;
}