.span_info {
    width: 150px;
    color: #666;
    font-size: 12px;
    vertical-align: top;
}

#page-container {
    margin-left: auto;
    margin-right: auto;
}

#page-header {
    width: 970px;
    height: 184px;
    background: url(/images/templatemo_header.png) top no-repeat ;
    margin-left: auto;
    margin-right: auto;
}

#page-header  #site_title {
    float: left;
    margin: 60px 0 0 60px;
}

#page-header  #site_title a {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#page-header  #site_title a span {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-left: 5px;
}

#navigation {
    clear: both;
    height: 150px;
    width: -moz-fit-content;
    width: intrinsic;
    margin: auto;
    background:  none
}

#navigation .home a {
    float: left;
    width: 52px;
    height: 52px;
    margin: 0 20px;
    background: url(/images/templatemo_home.png) no-repeat center;
}

#navigation .home a:hover {
    background: url(/images/templatemo_home_hover.png) no-repeat center;
}

#navigation ul {
    float: left;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#navigation ul li {
    float: left;
}

#navigation ul li a {
    float: left;
    display: block;
    height: 45px;
    width: 170px;
    padding: 5px 0 0 0;
    font-size: 11px;
    color: #666;

    text-align: center;
    text-decoration: none;
    font-weight: normal;
    outline: none;
    border: none;
}

#navigation ul li a span {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

#navigation ul li .last {
    background: none;
}

#navigation ul li a:hover, #navigation ul .current {
    color: #a13c03;
}

#navigation ul li a:hover span, #navigation ul .current span {
    color: #a13c03;
}

#navigation ul li a span:hover {
    color: #a13c03;
}

#templatemo_content_wrapper {
    padding: 0 20% 0 20%;
}

#templatemo_content_top {
    /*width: 1200px;*/
    height: 0;
}

#templatemo_content_bottom {

}

#content-container {
    padding-bottom: 100px;
}

#content-container p {
    margin-bottom: 10px;
}

#page-footer {
    padding: 20px  130px 20px 130px;
    color: #000000;
    text-align: center;
    margin: auto;
}

#page-footer a {
    color: #223d7a;
}

.option {
    width: 27px;
    color: #ffffff;
}

.disabled {
    pointer-events: none;
}

.white {
    background: #ffffff;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: intrinsic;
}

.fixed-width {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
}